
	<head>
		<meta charset="utf-8">
		<title>add-form</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var markdownContent = document.getElementById('markdown-content').value;
  var htmlContent = document.getElementById('html-content');
  
  htmlContent.innerHTML = marked(markdownContent);
});
</script>
    
    <style>
        .mermaid {
            width: 100%;
            margin: 20px 0;
        }
    </style>
    <script>
        mermaid.initialize({
            theme: 'forest',
            flowchart: {
                useMaxWidth: false
            }
        });
    </script>
<style>
    #MathJax_Message {
        display: none!important;
    }
</style>
    <script>
        mermaid.initialize({
            theme: 'forest',
            sequenceDiagram: {
                actorWidth: 0.25,
                noteWidth: 0.5
            }
        });
    </script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

	</head>