<p>
    <span>
    	<span class="MathJax_Preview">$x^2$</span>
        <script type="math/tex">x^2</script>
    </span>
</p>

<style>
    #MathJax_Message {
        display: none!important;
    }
</style>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      config: ["MMLorHTML.js"],
      jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
      extensions: ["MathMenu.js", "MathZoom.js"]
    });
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-MML-AM_CHTML"></script>