<!DOCTYPE html>
<html>
	{% include 'head.html' %}

	<body>

		{% include 'nav.html' %}
		<form id="items" method="post" action="/modify/{{ item.file }}/{{ item.uuid }}/">
				
			<div class="row">
				<div class="col-md-8">
					{% include 'show.html' %}
				</div>
				<div class="col-md-4">
			
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="title" name="title" rows="1" placeholder="title" value="{{ item.title }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Key List</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="keyList" name="keyList" rows="1" placeholder="keyList" value="{% for key in item.keyList%}{{ key }},{% endfor %}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">File</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="file" name="file" rows="1" placeholder="file" value="{{ item.file }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Id</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="id" name="id" rows="1" placeholder="id" value="{{ item.id }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">UUID</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="uuid" name="uuid" rows="1" placeholder="uuid" value="{{ item.uuid }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Ralation List</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="relationList" name="relationList" rows="1" placeholder="relationList" value="{% for key in item.relationList%}{{ key }},{% endfor %}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					
				</div>				
			</div>
			<div class="row">
				<div class="col-md-8" id="responsedetailOut">
			
					{{ item.detail_html|safe }}

				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="detail">Detail</label>

						<textarea  class="form-control" id="detail" name="detail" rows="50" value="">{{ item.detail }}</textarea>

					</div>
					<div class="input-group">
						<button type="submit" class="btn btn-success">update</button> 
						<!--
						<button  class="btn btn-warning"><a href="/form/new/{{ item.file }}/"> new </a></button> 
						-->
					</div>
				</div>			
			</div>
		</form>	
		
	</body>
</html>
