<!DOCTYPE html>
<html>
	{% include 'head.html' %}

	<body>

		{% include 'nav.html' %}
		<form id="items" method="post" action="/modify/{{ item.file }}/{{ item.uuid }}/">
				
			<div class="row">
				<div class="col-md-8">
					<h1 class="display-3">{{ item.title }}</h1>
					<p class="lead">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
							<path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
						</svg>
						{% for key in item.keyList%}
							{{ key }},
						{% endfor %}
						<br>
						
						
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
							<path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
							<path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
						</svg>
						<a href="/show/{{ item.file }}/"> 
							{{ item.file }} 
						</a>
						<br>
						
						
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-at" viewBox="0 0 16 16">
							<path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"/>
						</svg> 
						{{ item.id }}
						<br>
						
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-index" viewBox="0 0 16 16">
							<path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435a4.9 4.9 0 0 1 .106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
						</svg>
						<a href="/uuid/{{ item.uuid }}/">{{ item.uuid }}</a>
						<br>
						
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-index" viewBox="0 0 16 16">
							<path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435a4.9 4.9 0 0 1 .106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
						</svg>
						<a href="/form/{{ item.file }}/{{ item.uuid }}/">
							modify
						</a>
						<br>
						
						
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
							<path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
							<path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
							<path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
						</svg>
						<a href="/form/new/{{ item.file }}/"> 
							add
						</a>
					</p>
				</div>
				<div class="col-md-4">
			
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="title" name="title" rows="1" placeholder="title" value="{{ item.title }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Key List</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="keyList" name="keyList" rows="1" placeholder="keyList" value="{% for key in item.keyList%}{{ key }},{% endfor %}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">File</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="file" name="file" rows="1" placeholder="file" value="{{ item.file }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Id</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="id" name="id" rows="1" placeholder="id" value="{{ item.id }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">UUID</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="uuid" name="uuid" rows="1" placeholder="uuid" value="{{ item.uuid }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					<div class="form-group row">
						<label for="title" class="col-sm-2 col-form-label">Ralation List</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="relationList" name="relationList" rows="1" placeholder="relationList" value="{% for key in item.relationList%}{{ key }},{% endfor %}" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
					
				</div>				
			</div>
			<div class="row">
				<div class="col-md-8">
			
					{{ item.detail_html|safe }}
				
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="detail">Detail</label>
						<textarea  class="form-control" id="detail" name="detail" rows="50" value="">{{ item.detail }}</textarea>						
					</div>
					<div class="input-group">
						<button type="submit" class="btn btn-success">update</button> 
						<!--
						<button  class="btn btn-warning"><a href="/form/new/{{ item.file }}/"> new </a></button> 
						-->
					</div>
				</div>			
			</div>
		</form>	
		

	</body>
</html>
